@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    line-height: 1.4;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}


button{
    padding: 10px 15px;
    border: none;
    transition: 0.2sec ease-in-out;
}
button:hover{
    opacity: 0.8;
    transition: 0.2sec ease-in-out;

}

/* navigation bar */
.navgation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 900px;
    margin: 0 auto;

}

nav{
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    position: sticky;
    top: 0;
    background-color: white;
    margin-bottom: 32px;
    padding: 10px;
    z-index: 50;
}

.bar_icon{
    font-size: 32px;
}

/* hero section */
.hero{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.hero_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.tag{
    background-color: #149f39;
    padding: 5px 10px;
    color: whitesmoke;
    align-self: flex-start;
    
}
.hero_content h1{
    font-size: 72px;
    line-height: 1.2;
    font-weight: 300;
}

.explore_button{
    background-color: #ffc066;
    align-self: flex-start;
}
@media  (max-width:786px ){


    .hero_image{
        display: flex;
        justify-content: center;
    }
.hero{
    flex-direction: column;
}
.hero_image{
    width: 90%;
}
.hero_content{
    padding: 10px;
    gap: 10px;

}
.hero_content h1{
    font-size: 32px;
}
}
    

/* features section */
.features{
    margin-top: 100px;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
   
}

.feature{
    display: flex;
    gap: 20px;
    transition: 0.2sec ease-in-out;
    padding: 20px;

}

.features:hover{
    /* border: 2px solid blue; */
    transition: 0.2sec ease-in-out;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
}

.divider{
    border-bottom: 2px solid rgb(197, 111, 111);
    margin: 1px 0;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0;
    align-items: center;
}
.menu .tag{align-self: center;
    
}

.grid{
    display: grid;
    gap: 10px;
     grid-template-areas: "I1 I1 I2 I3" 
     "I1 I1 I2 I7"
     "I4 I5 I6 I7";
}
.item1{
    grid-area: I1;
}
.item2{
    grid-area: I2;
}
.item3{
    grid-area: I3;
}
.item4{
    grid-area: I4;
}
.item5{
    grid-area: I5;
}
.item6{
    grid-area: I6;
}
.item7{
     grid-area: I7;
} 



.grid_image{
    border-radius: 10px;
    transition: 0.2sec ease-in-out;
    width: 100%;
    height: 100%;
}


.feature img{
    width: 72px;
}

.grid_image:hover{
    transform: scale(1.05);
    transition: 0.2sec ease-in-out;
}


.feature{
    flex-direction: column;
}
.grid{
    padding: 10px;
}
.grid_image{
    border-radius: 0px;
}


/* footer section
 */
.footer_container{
    
    padding: 30px;
    display: flex;
 justify-content: space-between;
    flex-direction: row;
}
footer{
    background-color: #fff0db;
}
.link_list{
    margin-bottom: 10px;
    color: gray;
    list-style-type: none;
}
.news_letter h3{
    margin-bottom: 10px;
    color: gray;

}
.icon_container{

}